{% extends 'base.html.twig' %}

{% block title %}Edit Apprenants Parcours{% endblock %}

{% block body %}
    <h1>Edit Apprenants Parcours</h1>

    {{ include('parcours_apprenant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_parcours_apprenant') }}">Retour a la Liste</a>

    {{ include('parcours_apprenant/_delete_form.html.twig') }}
{% endblock %}
